
#mat .menu {
	border-top: 2px solid #000;
	border-bottom: 2px solid #FFF;
}
#mat .menu > .title {
	background-color: #e1e2dc;
}
#mat .title {
	min-height: 40px;
	padding: 5px;
}
#mat .title small {
	width: 70%;
	display: inline-block;
	line-height: 14px;
}
#mat .title .ttl-text {
	display: inline-block;
	min-width: 200px;
	font-size: 1.5em;
}
#mat .title .ttl-item-text {
	display: inline-block;
	min-width: 200px;
	font-size: 1.2em;
}

#mat .title.odd {
	background-color: #fff;
}
#mat .title.even {
	background-color: #f3f4ee;
}
#mat .menu-item .title {
	border-bottom: 1px solid #fff;
}
#mat .menu-item .menu-item .title {
	padding-left: 40px;
}
#mat .menu-item .menu-item .menu-item .title {
	padding-left: 80px;
}
#mat .menu-item .menu-item .menu-item .menu-item .title {
	padding-left: 120px;
}
#mat .menu-item .menu-item .menu-item .menu-item .menu-item .title {
	padding-left: 160px;
}
#mat .menu-item .title .menu-item .menu-item .menu-item .menu-item .title {
	padding-left: 200px;
}

#mat .action {
	font-size: 25px;
}
#mat .tools {
	position: absolute;
	right: 0;
}
#mat .tools > div {
	display: inline-block;
	margin: 5px 0 0 5px;
	cursor: pointer;
	min-width: 40px;
	text-align: center;
}
#mat .tools > .inactive {
	color: #ccc;
	cursor: default;
}
#mat .action.context {
	display: none;
}
#mat .title:hover .action.context {
	display: inline-block;
}
	

#mat .content.loading {
	min-height: 100px;
	overflow: hidden;
	text-align: center;
}
#mat .content.loading .tools {
	display: none;
}

#mat .content.loading:before {
	position: absolute;
	font: 80px/100px FontAwesome;
	content: "\f021";
	left: 50%;
	animation: fa-spin 2s infinite linear;
}
.page-admin .tingle-modal-box  {
	width: 80%;
	max-width: 1024px;
}